
.prompt-box {
    text-align: center;
    width: 76%;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;

    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    box-sizing: border-box;
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}