* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

body {
    padding: 0;
}
#bg {
    background-image: url("images/background.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
#menu {
    position: absolute;
    height: fit-content;
    width: fit-content;
    margin: 0;
    top: 45%;
    left: 55%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.corner {
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    border-style: solid;
}

.top-left {
    top: 0;
    left: 20%;
    border-width: 15vw 15vw 0 0;
    border-color: #111 transparent transparent transparent;
}
.bottom-right {
    bottom: 0;
    right: 0;
    border-width: 15vw 15vw 0 0;
    border-color: transparent #111 transparent transparent;
}
.top-right {
    top: 0;
    right: 0;
    border-width: 0 15vw 15vw 0;
    border-color: transparent #111 transparent transparent;
}
.bottom-left {
    bottom: 0;
    left: 20%;
    border-width: 15vw 0 0 15vw;
    border-color: transparent transparent transparent #111;
}
#pc {
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#menu button {
    display: block;
    width: 350px;
    height: 70px;
    background-color: #111;
    border-radius: 35px;
    color: white;
    font-size: 24pt;
    border: none;
    outline: none;
    margin: auto;
}

nav.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

#main {
    width: 500px;
    height: 500px;
}
