body {
    margin: 0;
    min-width: 100%;
    min-height: 100%;
}

* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.titulo {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.App {
    display: flex;
    margin: 0;
    justify-content: center;
}
.corner {
    position: fixed;
    margin: 0;
    width: 0;
    height: 0;
    border-style: solid;
    z-index: -1;
}
.top-left {
    top: 0;
    left: 0;
    border-width: 17vw 17vw 0 0;
    border-color: #111 transparent transparent transparent;
}
.bottom-right {
    bottom: 0;
    right: 0;
    border-width: 17vw 17vw 0 0;
    border-color: transparent #111 transparent transparent;
}
.top-right {
    top: 0;
    right: 0;
    border-width: 0 17vw 17vw 0;
    border-color: transparent #111 transparent transparent;
}
.bottom-left {
    bottom: 0;
    left: 0;
    border-width: 17vw 0 0 17vw;
    border-color: transparent transparent transparent #111;
}

.background {
    background-image: url(/images/background.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-shadow: inset 0 0 25vw #000000;
}

.main {
    position: absolute;
    width: 60%;
    top: 20%;
    display: table-column;
    height: fit-content;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.main img {
    display: block;
    width: 350px;
    margin: 0 auto;
}

.round-button {
    display: block;
    width: 300px;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
    text-align: center;
    border: none;
    outline: none;
    background-color: #111;
    color: #fff !important;
    font-size: 24px;
    text-decoration: none !important;
    cursor: pointer;
    margin: 25px auto 25px auto;
    transition: all 0.1s;
}
.round-button:hover {
    width: 350px;
    height: 70px;
    line-height: 70px;
    border-radius: 35px;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: all 0.1s;
}

.navbar {
    position: fixed;
    width: 100vw;
    background-color: #1111115e !important;
}
.navbar * {
    color: #fff !important;
    transition: 0.2s;
}

.perfil {
    position: absolute;
    right: 8px;
    top: 8px;
}

.perfil img {
    width: 50px;
    height: 50px;
}

.navbar a:hover {
    color: aqua !important;
    transition: 0.2s;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    border-color: #fff !important;
}

input[type="text"] {
    width: 100%;
    font-size: 1.5em;
    border-radius: 0.75em;
    outline: none;
    border: #000000;
    padding: 5px 15px;
    margin: 20px 0;
}
input[type="password"] {
    width: 100%;
    font-size: 1.5em;
    border-radius: 0.75em;
    outline: none;
    border: #000000;
    padding: 5px 15px;
    margin: 20px 0;
}
input[type="email"] {
    display: block;
    min-width: 100%;
    font-size: 1.5em;
    border-radius: 0.75em;
    outline: none;
    border: #000000;
    padding: 5px 15px;
    margin: 20px 0;
}
input[type="date"] {
    display: block;
    font-size: 1.5em;
    border-radius: 0.75em;
    outline: none;
    border: #000000;
    padding: 5px 15px;
    margin: 20px 0;
}

input:disabled {
    cursor: not-allowed;
}

textarea {
    width: 100%;
    font-size: 1.5em;
    border-radius: 0.75em;
    outline: none;
    border: #000000;
    padding: 15px 25px;
    margin: 20px 0;
}

.label {
    display: inline;
    color: white;
    font-size: 1.3em;
    margin: 10px;
}
.center {
    text-align: center;
}

label {
    color: white;
    font-size: 1.5em;
}

/* The container */
.container {
    display: inline-flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: text-top;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #eee;
    border-radius: 7px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 11px;
    top: 5px;
    width: 8px;
    height: 16px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #ddd !important;
    padding: 8px;
    height: 36px;
}

table tr {
    background-color: #fff !important;
}

table tr:nth-child(even) {
    background-color: #f2f2f2 !important;
}

table tr:hover {
    background-color: #ddd !important;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0a43bd !important;
    color: white !important;
}

.main-dashboard {
    position: absolute;
    width: 90%;
    top: 10%;
}

.donation {
    color: rgb(12, 78, 0);
}
.request {
    color: rgb(204, 145, 19);
}
