body {
    margin: 0;
    min-width: 100%;
    min-height: 100%;
}

* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

.App {
    display: flex;
    height: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.corner {
    position: fixed;
    margin: 0;
    width: 0;
    height: 0;
    border-style: solid;
}
.top-left {
    top: 0;
    left: 0;
    border-width: 15vw 15vw 0 0;
    border-color: #111 transparent transparent transparent;
}
.bottom-right {
    bottom: 0;
    right: 0;
    border-width: 15vw 15vw 0 0;
    border-color: transparent #111 transparent transparent;
}
.top-right {
    top: 0;
    right: 0;
    border-width: 0 15vw 15vw 0;
    border-color: transparent #111 transparent transparent;
}
.bottom-left {
    bottom: 0;
    left: 0;
    border-width: 15vw 0 0 15vw;
    border-color: transparent transparent transparent #111;
}

.background {
    background-image: url("images/background.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-shadow: inset 0 0 25vw #000000;
}

.center-box {
    width: 350px;
    height: fit-content;
    margin: 10% auto auto auto;
}
.center-box img {
    width: 90%;
    margin: 0 5% 0 5%;
}

.round-button {
    display: block;
    width: 300px;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
    text-align: center;
    border: none;
    outline: none;
    background-color: #111;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    margin: 25px auto 25px auto;
    transition: all 0.1s;
}
.round-button:hover {
    width: 350px;
    height: 70px;
    line-height: 70px;
    border-radius: 35px;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: all 0.1s;
}

.sidenav {
    height: 100vh;
    width: 20vw;
    background-color: #111;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    display: block;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    background-color: #818181;
    padding: 10px;
    color: #fff;
    margin: 10px 20px 10px 0;
}

.sidenav a:hover {
    color: #111;
}

.main {
    position: fixed;
    top: 0;
    left: 20vw;
    height: 100vh;
    width: 80vw;
}
